# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
*.db
*.log
*.txt
credentials.json

# Virtual environments
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Editors
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
